opencv-python
seaborn
tensorboard
torch
torchvision
torchaudio
openai
scikit-image
ete3
matplotlib
palettable
brewer2mpl
jupyter
matplotlib
numexpr
numpy
pandas
Pillow
protobuf
psutil
scikit-learn
scipy
