absl-py==0.6.1
addict==2.2.0
alabaster==0.7.12
astor==0.7.1
audioread==2.1.6
babel==2.9.1
chardet==3.0.4
click==7.0
cloudpickle==0.6.1
commonmark==0.5.4
cycler==0.10.0
dask==2021.10.0
decorator==4.3.0
docutils==0.14
easydict==1.8
gast==0.2.0
googleapis-common-protos==1.5.3
grpcio==1.15.0
grpcio-tools==1.15.0
idna==2.7
imageio==2.4.1
imagesize==1.1.0
jinja2==2.10
joblib==0.13.0
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.25.0
markdown==3.0.1
markupsafe==1.1.0
matplotlib==2.2.2
msgpack==0.5.6
networkx==2.2
numba==0.40.1
opencv-python==3.4.3.18
packaging==18.0
pandas==0.23.4
protobuf==3.6.1
purepng==0.2.0
pycocotools==2.0.0
pydub==0.23.0
pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
pywavelets==1.0.1
pyyaml==5.4
recommonmark==0.4.0
requests==2.20.1
resampy==0.2.1
rinoh-typeface-dejavuserif==0.1.1
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.3.1
scenedetect==0.5
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
snowballstemmer==1.2.1
sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
tabulate==0.8.2
tensorboard==1.9.0
tensorboardx==1.4
tensorflow-gpu==2.3.1
tensorflow-hub==0.1.1
termcolor==1.1.0
terminaltables==3.1.0
toolz==0.9.0
torch==0.4.1.post2
torchvision==0.2.1
tqdm==4.28.1
urllib3>=1.24.2
werkzeug>=0.15.3
cython==0.29
cffi==1.11.5
ninja==1.8.2
numpy==1.15.4
numpy-base==1.15.4
pybind11==2.2.4
